
body{
    width: 100%;
    margin: 6rem 0 0 0;
}
.header{
    
    margin: -6rem -.2rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5 rgba(78, 82, 77, 0.5);
    background: linear-gradient(to right, rgba(180, 210, 180, 0.6), rgba(240, 240, 240, 0.6)); 
    position: fixed;
}
.footer{
    display: flex;
    flex-direction: column;
    margin: 1rem -.3rem ;
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5 rgba(78, 82, 77, 0.5);
    background: linear-gradient(to right, rgba(180, 210, 180, 0.6), rgba(240, 240, 240, 0.6)); 
}
.footer::-webkit-scrollbar, .header::-webkit-scrollbar{
    background-color: gray;
}
.header__nav, .footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__nav__link, .footer__nav__link{
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5 rgba(78, 82, 77, 0.5);
    padding: 0.5rem ;
    color: black;
    background: linear-gradient(to right, rgb(255, 255, 255, 6), rgb(255, 255, 255, 6)); 
}

.header__nav__link:hover, .footer__nav__link:hover{
    
    box-shadow: 5px 5px 5px 5 rgba(3, 100, 24, 0.5);
    background: gray;
    color: white;
}

@media screen and (max-width: 600px) {
    body{
        margin: 5rem 0 0 0;
    }
    .header{
        margin: -5rem 0 0 0;
    }
    .footer{
        margin: 1rem -.3rem ;
    }
    .header__nav, .footer__nav{
        display: flex;
        flex-direction: column;
        
    }
    .header__nav__link, .footer__nav__link{
        margin: .2rem 0 .2rem .2rem;
        border: 2px solid gray;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 5 rgba(78, 82, 77, 0.5);
        background: linear-gradient(to right, rgb(255, 255, 255, 6), rgb(255, 255, 255, 6)); 
    }
    .link__one{
        position: relative;
        z-index: 1;
        margin:  1rem;
        width: 13rem;
    }
    .link__one:hover{
        z-index: 5;
        text-align: center;
    }
    .link__two{
        position: absolute;
        z-index: 2;
        margin: 3rem;
        width: 13rem;
    }
    .link__two:hover{
        z-index: 5;
        text-align: center;
    }
    .link__three{
        position: absolute;
        z-index: 3;
        margin: 5rem;
        width: 13rem;
    }
    .link__three:hover{
        z-index: 5;
        text-align: center;
    }
    .link__four{
        position: absolute;
        z-index: 4;
        margin: 7rem;
        width: 13rem;
    }
    
}



.container {
    display: inline-block;
    margin: .5rem auto;
    width: 90%; /* Largeur de la boîte */
    text-align: center;
    font-size: 0.8rem;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5 rgba(78, 82, 77, 0.5);
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, rgba(180, 210, 180, 0.9), rgba(240, 240, 240, 0.9));
    white-space: nowrap;
    overflow: hidden;
}

@keyframes scroll {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.container .copyright {
    display: inline-block;
    animation: scroll 10s linear infinite;
}
