.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
  }
  
  .scroll-to-top.visible {
    opacity: .7;
    visibility: visible;
  }
  .scroll{
    margin-right: 20px;
  }
  .scroll:hover{
    
    box-shadow: 5px 5px 5px 5 rgba(3, 100, 24, 0.5);
    background: gray;
    color: white;
}

